* {
    font-family: 'Source Code Pro';
}

/* Command Palette styling */
.quick-input-widget {
    transform: translateY(-50%) !important;
    top: 50% !important;
    padding: 10px 10px 18px 10px !important;
    backdrop-filter: blur(3px) !important;
    border-radius: 20px !important;
}


/* Command palette text input box */
.quick-input-filter .monaco-inputbox {
    border-radius: 12px !important;
    padding: 10px !important;
    border: none !important;
    font-size: 14px !important;
    margin-bottom: 14px !important;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) !important;
}


/* Tooltip box style */
.monaco-editor-hover,
.monaco-hover {
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.25), 
                0 0 8px 2px rgba(255, 255, 255, 0.1) inset !important;
    padding: 12px 14px !important;
    background: linear-gradient(
        145deg,
        var(--vscode-editorHoverWidget-background),
        rgba(255, 255, 255, 0.05)
    ) !important;
    color: var(--vscode-editorHoverWidget-foreground) !important;
    backdrop-filter: blur(4px) !important;
    border-radius: 15px !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    transition: all 0.2s ease-in-out !important;
}


/* Blur command palette background */
#command-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .15);
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
}


/* Command palette's input box placeholder */
.monaco-inputbox input::placeholder {
    font-size: 16px !important;
}
